html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #2e2e2e;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.PageContainer {
  width: 100%;
  height: auto;
  margin-top: 64px;
}
.headerWrapper {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 14px;
}

.bodyWrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.selfDescription {
  margin-bottom: 10px;
  font-size: 16px;
}
.selfDescription-2 {
  margin-bottom: 75px;
  font-size: 16px;
}

.PageContainer .logo {
  font-weight: 900;
  font-size: 33.2px;
  margin-bottom: 18px;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerNavigationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 16px;
  font-weight: light;
}
.headerNavigationWrapper a {
  display: block;
  position: relative;
  cursor: pointer;
}
.headerNavigationWrapper a::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
  position: absolute;
  top: 100%;
  left: -20%;
  opacity: 0;
  z-index: 2;
  transition: linear all 0.2s;
}
.headerNavigationWrapper a:hover::before {
  left: 0 !important;
  transition: linear all 0.2s;
  z-index: 2;
  opacity: 1;
}
.projects-container {
  display: grid;
  grid-template-columns: 49% 49%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.each-project-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  margin-bottom: 72px;
}
.each-project-image-wrapper {
  width: 100%;
  height: auto;
}
.projectImage {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: unset !important;
}
.projectTitle {
  font-weight: bold;
  font-size: 23px;
}
.projectDescription {
  font-weight: 300;
  font-size: 16px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.inforMessage {
  font-size: 33.2px;
  font-weight: 900;
}
.mailWrapper {
  background-color: #6a6fec;
  border-radius: 12px;
  color: white;
  padding: 16px 32px;
  margin-bottom: 100px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .headerNavigationWrapper {
    display: none;
  }
  .PageContainer .logo {
    font-size: 25px;
  }
  .selfDescription {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .selfDescription-2 {
    margin-bottom: 75px;
    font-size: 14px;
  }
  .projects-container {
    grid-template-columns: 100%;
  }
  .projectTitle {
    font-size: 23px;
  }
  .projectDescription {
    font-size: 14px;
  }
  .each-project-wrapper {
    margin-bottom: 48px;
  }
  .selfDescription-2 {
    margin-bottom: 48px;
  }
}
