@font-face {
  font-family: helveticaRoman;
  src: url(../public/fonts/HelveticaNeueRoman.otf);
}
@font-face {
  font-family: helveticaMedium;
  src: url(../public/fonts/HelveticaNeueMedium.otf);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #2e2e2e;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.PageContainer {
  height: auto;
  margin: 0 auto;
  margin-top: 64px;
  max-width: 700px;
}

.location-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #1d1d1f;
  font-family: helveticaRoman;
}

.headerWrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 28%;
}

.section-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 28%;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 28%;
}

.section-two .welcome {
  color: #444445;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}
.section-two .description {
  color: #444445;
  font-size: 16px;
  font-weight: normal;
}

.name-wrapper {
  font-size: 30px;
  font-weight: 900;
  font-family: helveticaMedium;
  color: #1d1d1f;
}

.field-wrapper {
  font-size: 20px;
  color: #8a8989;
  font-family: helveticaRoman;
}
.bodyWrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.PageContainer .logo {
  font-size: 14px;
  font-family: helveticaRoman;
  color: #1d1d1f;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerNavigationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 16px;
  font-weight: light;
}

.socialWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.socialWrapper .each-social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: linear all 0.3s;
  cursor: pointer;
}

.ok-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: linear all 0.3s;
}

.socialWrapper .each-social-wrapper:hover {
  transform: translateY(-7%);
  transition: linear all 0.3s;
}

.socialWrapper .each-social-wrapper:hover .ok-wrapper {
  opacity: 1;
  transition: linear all 0.3s;
}

.section-three,
.section-four {
  margin-bottom: 28%;
}

.section-five,
.section-six,
.section-eight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 28%;
}
.section-seven {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 28%;
}
.section-seven .socialWrapper {
  text-decoration: none !important;
  display: flex;
  align-items: flex-start;
}
.section-seven .socialWrapper .each-social-wrapper {
  transform: translateY(-10%);
}
.section-seven .socialWrapper:hover .each-social-wrapper {
  transform: translateY(-20%);
}
.section-seven .socialWrapper:hover .ok-wrapper {
  opacity: 1;
}
.section-five .welcome {
  color: #444445;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}
.section-five .description {
  color: #444445;
  font-size: 16px;
  font-weight: normal;
}

.projects-wrapper {
  display: grid;
  align-content: center;
  width: 60%;
  height: auto;
  flex-wrap: wrap;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 12%;
  gap: 50px;
}
.projects-wrapper a {
  width: 45%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 18px;
  position: relative;
  border-radius: 12px;
  background-color: white;
  transition: linear all 0.3s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.projects-wrapper a img {
  width: 100%;
  height: auto;
}

.project-ok-wrapper {
  width: 16%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  position: absolute;
  bottom: -4%;
  left: 48%;
  transform: translateX(-50%);
  transition: linear all 0.3s;
  opacity: 0;
}

.project-each-wrapper {
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  transform: translateY(0%);
  transition: linear all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-wrapper a:hover {
  background-color: #ececec;
  transition: linear all 0.3s;
}

.projects-wrapper a:hover .project-each-wrapper {
  transform: translateY(-4%);
  transition: linear all 0.3s;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px 0px, rgba(27, 31, 35, 0) 0px 0px 0px 1px;
}

.projects-wrapper a:hover .project-ok-wrapper {
  bottom: 0%;
  transition: linear all 0.3s;
  opacity: 1;
  left: 50%;
}

.projects-wrapper .onHover-projecet-each {
  position: absolute;
  top: -68%;
  left: 50%;
  transform: translateX(-50%) scale(0.5) translateY(50%);
  width: 210%;
  background-color: #444445;
  border-radius: 6px;
  text-align: center;
  gap: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px solid black;
  transition: linear all 0.3s;
  opacity: 0;
  pointer-events: none;
}

.projects-wrapper a:hover .onHover-projecet-each {
  top: -75%;
  transform: translateX(-50%);
  scale: 1;
  opacity: 1;
  transition: linear all 0.3s;
}

.section-five .projects-wrapper .onHover-projecet-each .project-title {
  font-size: 18px !important;
  color: #ffffff !important;
}
.section-five .projects-wrapper .onHover-projecet-each .project-descr {
  font-size: 15px !important;
  color: #b8b8b8 !important;
}

.section-nine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 6%;
}

@media (max-width: 768px) {
  .headerNavigationWrapper {
    display: none;
  }
  .PageContainer .logo {
    font-size: 25px;
  }
  .PageContainer {
    padding: 16px;
    margin-top: 16px !important;
  }
}
